*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.wrapper{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body-wrp{
    background-color: aqua;
    width: 100%;
    height: 93%;
    display: flex;
}
.head{
   background: linear-gradient(45deg,yellow,orangered);
   height: 7%;
}
.Homebody{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5px 3%;
}
#wlcmtxt{
    background-color: whitesmoke;
    width: 30%;
    height: 15%;
    font-size: 20px;
    border-radius: 10px;
}
#date-time{
    /* background-color: white; */
    width: 70%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date{
    width: 45%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.cal{
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg,yellow,orangered);
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
    color: rgb(226, 60, 0);
}
.time{
    width: 45%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg,yellow,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.completed{
    width: 75%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg,yellow,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
