*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.wrapper{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body-wrp{
    /* background-color: aqua; */
    width: 100%;
    height: 93%;
    display: flex;
}
.head{
   background: linear-gradient(45deg,yellow,orangered);
   height: 7%;
   display: flex;
   align-items: center;
   padding-left: 2%;
   font-size: 23px;
   font-weight: 700;
   color: white;
}
.Homebody{
    /* background-color: rgb(231, 30, 30); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6%;
    padding: 5px 2%;
}
#wlcmtxt{
    background-color: whitesmoke;
    width: 30%;
    height: 5%;
    font-size: 20px;
    /* border-radius: 10px; */
}
#date-time{
    /* background-color: white; */
    width: 70%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    align-items: end;
    gap: 3%;
}
.date{
    width: 45%;
    height: 100%;
    /* background-color: rgb(228, 9, 9); */
    border-radius: 10px;
}
.cal{
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
    color: rgb(226, 60, 0);
}
.time{
    width: 45%;
    height: 20%;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time h2{
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg,yellow,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.completed{
    width: 25%;
    height: 10%;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.completed h2{
    font-size: 40px;
    background: -webkit-linear-gradient(45deg,yellow,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.task-cat{
    /* background-color: red; */
    width: 55%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.task-cat p{
    font-size: 18px;
    background: -webkit-linear-gradient(45deg,yellow,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
@media screen and (max-width:995px) {
    #date-time{
        /* background-color: white; */
        width: 70%;
        height: 40%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
    }
    .date{
        width: 45%;
        height: 76%;
        /* background-color: rgb(228, 9, 9); */
        border-radius: 10px;
    }
    .cal{
        height: 100%;
        border: none;
        border-radius: 10px;
        background-color: white;
        box-shadow: 5px 5px 5px rgb(190, 190, 190);
        color: rgb(226, 60, 0);
        font-size: 0.1rem;
        display: flex;
        flex-direction: column;
    }
    .time{
        width: 45%;
        height: 20%;
        /* background-color: rgb(226, 6, 6); */
        border-radius: 10px;
        display: flex;
        justify-content: normal;
        align-items: center;
    }
    .time h2{
        font-size: 35px;
        font-weight: bold;
        background: -webkit-linear-gradient(45deg,yellow,orangered);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .completed{
        width: 60%;
    }
    .completed h2{
        font-size: 30px;
    }
    .task-cat{
        /* background-color: red; */
        width: 55%;
        height: 40%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .task-cat p{
        font-size: 18px;
        background: -webkit-linear-gradient(45deg,yellow,orangered);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }
}
@media screen and (max-width: 888px) {
    #date-time{
        /* background-color: white; */
        width: 70%;
        height: 55%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
    }
    .date{
        width: 75%;
    }
}

@media screen and (max-width: 556px){
    .Homebody{
        gap: 4%;
    }
    #date-time{
        /* background-color: white; */
        width: 70%;
        height: 40%;
    }
    .date{
        width: 85%;
    }
    .time h2{
        font-size: 30px;
    }
    #wlcmtxt{
        width: 80%;
        font-size: 18px;
    }
    .completed{
        width: 75%;
    }
    .completed h2{
        font-size: 25px;
        background: -webkit-linear-gradient(45deg,yellow,orangered);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }
    .task-cat{
        /* background-color: red; */
        width: 65%;
        height: 25%;
        grid-template-columns: repeat(1,1fr);
    }
    .task-cat p{
        font-size: 15px;
    }
}

@media screen and (max-width:475px) {
    #date-time{
        height: 40%;
        width: 85%;
    }
    .date{
        width: 100%;
    }
    .time{
        width: 80%;
    }
}
