.probox{
    background-color: white;
    width: 100%;
    height: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#pro-i{
    font-size: 75px;
    color: orange;
}

.det-wrp{
    width: 100%;
    height: 70%;
    background-color: whitesmoke;
}
