.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.head{
    background: linear-gradient(45deg,yellow,orangered);
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 23px;
    font-weight: 700;
    color: white;
 }
 .msgbox{
    /* background-color: red; */
    padding: 0;
 }
#tasks-table{
    /* width: 1000px; */
    font-size:13px;
}

#tasks-table td{
    padding: 20px;
}
#task-table tr{
    font-size: 15px;
}
.btns{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    height: 100%;
    width: 20%;
}
#upd{
    background: linear-gradient(45deg,yellow,orangered);
    padding: 2px 5px;
    border: none;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#del{
    background: linear-gradient(45deg,orangered,red);
    padding: 2px 5px;
    border: none;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 1003px){
    #task-table > #enh{
        padding: 5% !important;
        width: 10px !important;
    }
    #tasks-table td{
        width: max-content;
    }
}
@media screen and (max-width:851px) {
    body{
        overflow-x: hidden;
    }
    .msgbox{
        overflow-x: scroll;
    }
    .head{
        width: 100vw;
    }
    #tasks-table{
        /* background-color: red; */
        width: 100vw;
    }
    #task-table tr{
        overflow-x: scroll !important;
    }
    #tasks-table td{
        font-size: 10px;
    }
    #upd,#del{
        font-size: 9px;
    }
}
@media screen and (max-width: 768px){
    #tasks-table th{
        font-size: 12px;
    }
    #task-table td{
        font-size: 3px;
        background-color: red !important;
    }   
}